::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    -webkit-border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar {
    width: 12px;
}